/* 
    Created on : 2015-07-28, 09:34:48
    Author     : Puzel
*/

// Headers
.header-mixin(@font-size;@font-weight) {
    font-size: @font-size;
    font-weight: @font-weight;
    
}
// /.Headers

// Uppercase text transform
.upper {
    text-transform: uppercase;
    
}
// /.Uppercase text transform